:root{
    --font-montserrat:"Montserrat", sans-serif;

    --main-color: #FFE500;
    --secundary-color: #380869;
    --form-bg-color:#2f025c;
    --text-gradient:linear-gradient(90deg, #8F00FF 0.53%, #2194FF 106.94%);
    --Bg-gradient:linear-gradient(124deg, #000 15.15%, #500B95 107.14%);
    --logo-text-gradient:rgba(19, 0, 38, 0.90);
    --icon-change-color:invert(84%) sepia(97%) saturate(7513%) hue-rotate(58deg) brightness(267%) contrast(119%);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font-montserrat);
    background: var(--Bg-gradient);
}
main{
    margin-top:6rem;
}